<%= render '/shared/user_tabs' %>

<h1><%= t('profile') %></h1>

<%= simple_form_for(@user, url: profile_path, method: :put, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :mobile %>

  <div class="form-actions">
    <%= f.button :submit, t('update_profile') %>
  </div>
<% end %>
