<% content_for :title do %>
<h1><%= t 'crud.listing', model: CashFlow.model_name.human %>(<%= @report_name%>)</h1>
<% end %>
<%= render 'search' %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th><%= CashFlow.human_attribute_name(:cashflow_date) %></th>
        <th><%= CashFlow.human_attribute_name(:company) %></th>
        <th><%= CashFlow.human_attribute_name(:cashflow_subject_id) %></th>
        <th><%= CashFlow.human_attribute_name(:corresponding_subject_id) %></th>
        <th><%= CashFlow.human_attribute_name(:cashflow_amount) %></th>
        <th><%= CashFlow.human_attribute_name(:description) %></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
<% @cash_flows.each do |cash_flow| %>
    <tr>
      <td><%= cash_flow.cashflow_date.strftime("%Y-%m-%d")%></td>
      <td><%= cash_flow.company.name if cash_flow.company %></td>
      <td><%= cash_flow.cashflow_subject.name if cash_flow.cashflow_subject%></td>
      <td><%= cash_flow.corresponding_subject.name if cash_flow.corresponding_subject %></td>
      <td><%= number_to_currency cash_flow.cashflow_amount%></td>
      <td><%= cash_flow.description %></td>
      <td class="control span2">
        <%= link_to "查看明细", admin_cash_flow_path(cash_flow) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= paginate @cash_flows %>
