<% content_for :title do %>
<h1><%= @corresponding_subject.name %></h1>
<div class="toolbar">
  <%= link_to t('crud.edit'), edit_admin_corresponding_subject_path(@corresponding_subject), class: 'btn btn-primary' %>
  <%= link_to t('crud.back'), admin_corresponding_subjects_path, class: 'btn' %>
</div>
<% end %>

<table class="table table-nobordered">
  <tbody>
    <tr>
      <th><%= CorrespondingSubject.human_attribute_name(:name) %></th>
      <td><%= @corresponding_subject.name %></td>
    </tr>
    <tr>
      <th><%= CorrespondingSubject.human_attribute_name(:code) %></th>
      <td><%= @corresponding_subject.code %></td>
    </tr>
  </tbody>
</table>

