<%= simple_form_for([:admin, @cashflow_subject], html: { class: 'form-horizontal' }) do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert">&times;</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :code %>
  <%= f.input :company_id, collection: Company.all, disabled: true %>
  <%= f.input :company_id, :as => :hidden, :input_html => { :value => @cashflow_subject[:company_id] || 0 }%>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
